@use './variables' as *;

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}


html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: normal;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: #fff;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Claris Sans', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 1.75rem;

    @media screen and (min-width: $laptop) {
        font-size: 4rem;
    }
}

h2, h3 {
    font-size: 1.5rem;

    @media screen and (min-width: $laptop) {
        font-size: 3.5rem;
    }
}

p {
    font-weight: 300;
}

strong {
    font-weight: 700;
}

figure {
    display: flex;
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
    margin: 0;
    border: none;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: none;
    }
}

a, button {
    &:visited {
        text-decoration: none;
    }
}

address {
    font-style: normal;
}

ul, li {
    margin: 0;
    padding: 0;
}
