@use './variables' as *;
@use './mixins' as *;

#app {
    height: 100%;
    width: 100%;
}

nav {
    height: 3rem;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 0 1.5rem;
    box-sizing: border-box;

    &.active {
        background: $brown;
    }

    ul {
        display: none;
        list-style: none;
        text-transform: uppercase;
        font-size: 1.25rem;

        a {
            text-decoration: none;
            color: #000;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &.active {
            @include col;
            justify-content: space-between;
            height: 12.5rem;
            padding-bottom: 1rem;
            padding-right: 1rem;
            position: absolute;
            width: 100%;
            z-index: 1;
            top: 3rem;
            left: 0;
            background: $brown;
            box-sizing: border-box;

            li {
                height: 100%;
            }
        }
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;

        figure {
            width: 2rem;

            img {
                width: 100%;
            }
        }

        .open {
            display: flex;
        }

        .close {
            display: none;
        }
    }

    @media screen and (min-width: $laptop) {
        height: 8rem;

        ul {
            @include row;
            @include mx-auto;
            justify-content: flex-end;
            max-width: 1100px;
            width: 100%;
            font-size: 1.5rem;
            gap: 2rem;

            li {
                align-self: center;

                &:last-of-type {
                    padding: 1rem;
                    background-color: $brown;

                    a {
                        color: #fff;

                        &::before {
                            content: none;
                        }
                    }
                }
            }

            a {
                font-weight: 500;
                position: relative;
                height: max-content;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    border-radius: 4px;
                    background-color: $brown;
                    bottom: -5px;
                    left: 0;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }

                &:hover {
                    &::before {
                        transform-origin: left;
                        transform: scaleX(1);
                    }
                }
            }
        }

        > div {
            display: none;
        }
    }
}

#intro {
    padding-top: 5rem;
    padding-bottom: 3rem;

    .container {
        @include container();
    }

    h1 {
        margin-bottom: 5rem;
        color: $blue;
        position: relative;

        &::before {
            @include uvozovky($top: -5rem, $left: 0)
        }

        &::after {
            @include uvozovky($bottom: -1rem, $right: 0, $rotate: rotate(180deg))
        }

        &::before, &::after {
            opacity: 0;
            transition: opacity 0.3s ease-in;
            transition-delay: 0.5s;
        }

        &.loaded {
            &::before, &::after {
                opacity: 1;
            }
        }
    }

    p {
        line-height: 1.5;

        &:first-of-type {
            margin-bottom: 1rem;
        }
    }

    @media screen and (min-width: $laptop) {
        padding-top: 10rem;
        padding-bottom: 10rem;

        p {
            font-size: 1.75rem;

            &:first-of-type {
                margin-bottom: 2rem;
            }
        }

        h1 {
            margin-bottom: 10rem;

            &::before {
                @include uvozovky($top: -7.5rem, $left: -3rem);
                transition-delay: 1s;
            }
    
            &::after {
                @include uvozovky($bottom: -6.5rem, $right: -1rem, $rotate: rotate(180deg));
                transition-delay: 1s;
            }
        }
    }
}

#how-it-works {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: $blue-light;

    .container {
        @include container();
        position: relative;
    }

    h2 {
        font-size: 1.5rem;
        position: absolute;
        top: -4.5rem;
        left: 1.5rem;

        span {
            font-size: 2rem;
        }
    }

    .how-it-works__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        row-gap: 1rem;

        div {
            @include row;
            gap: 0.5rem;
            align-items: center;
    
            figure {
                @include flex-center;
                border-radius: 50%;
                background: $blue;
                width: 3rem;
                height: 3rem;
                flex-shrink: 0;

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            p {
                display: flex;
                align-items: flex-start;
                font-weight: 500;

                span {
                    margin-right: 0.5rem;
                }
            }
    
            &:nth-of-type(1) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
    
            &:nth-of-type(2) {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
    
            &:nth-of-type(3) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
    
            &:nth-of-type(4) {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
    
            &:nth-of-type(5) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
    
            &:nth-of-type(6) {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }
    
            &:nth-of-type(7) {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }
    
            &:nth-of-type(8) {
                grid-column: 2 / 3;
                grid-row: 4 / 5;
            }
        }
    }

    @media screen and (min-width: $laptop) {
        padding-top: 6rem;
        padding-bottom: 6rem;

        h2 {
            font-size: 3rem;
            top: -10.25rem;
    
            span {
                font-size: 5rem;
            }
        }

        .how-it-works__wrapper {
            gap: initial;
            row-gap: 1rem;
            justify-content: space-around;

            div {
                gap: 3.5rem;

                figure {
                    width: 6rem;
                    height: 6rem;
    
                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
    
                p {
                    font-size: 1.5rem;
    
                    span {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}
#gallery {
    padding-top: 7rem;
    padding-bottom: 5rem;

    .container {
        @include container();
    }

    .content {
        margin-bottom: 7rem;

        p {
            position: relative;
            line-height: 1.5;

            &::before {
                @include uvozovky($top: -4rem, $left: 0)
            }
    
            &::after {
                @include uvozovky($bottom: -3rem, $right: 0, $rotate: rotate(180deg))
            }
        }

        figure {
            display: none;
        }
    }

    .slider {
        height: 15rem;
        position: relative;

        .swiper-container {
            height: 100%;

            figure {
                height: 100%;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

        }

        .btn-next, .btn-back {
            display: flex;
            background: $blue;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);

            figure {
                width: 100%;
                height: 100%;
                @include flex-center;

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }

        .btn-next {
            right: -1rem;
            margin-left: 0.25rem;

            figure {
                svg {
                    margin-left: 0.125rem;
                }
            }
        }

        .btn-back {
            left: -1rem;

            figure {
                svg {
                    margin-right: 0.125rem;
                }
            }
        }

        .custom-pagination {
            @include row;
            justify-content: center;
            gap: 0.5rem;
            margin-top: 1rem;

            .swiper-pagination-bullet {
                display: flex;
                border-radius: 50%;
                width: 0.5rem;
                height: 0.5rem;
                background: silver;

                &-active {
                    background: #000;
                }
            }
        }
    }

    @media screen and (min-width: $laptop) {
        padding-top: 15rem;
        padding-bottom: 10rem;

        .content {
            margin-bottom: 15rem;
            display: grid;
            grid-template-columns: auto auto;
            grid-auto-rows: auto;
            gap: 5rem;

            p {
                font-size: 1.75rem;
                line-height: 1.5;
                grid-column: 1 / 2;
                grid-row: auto;

                &::before {
                    @include uvozovky($top: -9rem, $left: -3rem)
                }
        
                &::after {
                    @include uvozovky($bottom: -8rem, $right: -1rem, $rotate: rotate(180deg))
                }
            }
    
            figure {
                display: flex;
                grid-column: 2 / 3;
                grid-row: auto;
                width: 12rem;
                position: relative;

                img {
                    width: 100%;
                    position: absolute;
                    top: -9rem;
                }
            }
        }

        .slider {
            height: 30rem;

            .btn-next, .btn-back {
                height: 4rem;
                width: 4rem;
                cursor: pointer;
    
                figure {
                    svg {
                        height: 2.5rem;
                        width: 2.5rem;
                    }
                }
            }

            .btn-next {
                right: -2rem;

                figure {
                    svg {
                        margin-left: 0.25rem;
                    }
                }
            }
    
            .btn-back {
                left: -2rem;

                figure {
                    svg {
                        margin-right: 0.25rem;
                    }
                }
            }

            .custom-pagination {
                margin-top: 3rem;
                gap: 1rem;

                .swiper-pagination-bullet {
                    cursor: pointer;
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

footer {
    background: $brown;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 1rem;

    #form {
        padding-bottom: 3rem;

        .container {
            @include container();
        }

        h2 {
            margin-bottom: 3rem;
        }

        form {
            .col {
                @include col;
                width: 100%
            }

            > div {
                margin-bottom: 1rem;
            }

            .tel-email {
                @include col;
                gap: 1rem;
            }

            label {
                margin-bottom: 0.25rem;
            }

            input {
                height: 1.5rem;
                box-sizing: border-box;
                padding: 0 0.5rem;
            }

            textarea {
                resize: none;
                padding: 0 0.5rem;

                &:focus-visible {
                    outline: none;
                }
            }

            button {
                border: none;
                border-radius: 0;
                background: $blue;
                width: 100%;
                padding: 0;
                margin: 0;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                letter-spacing: 0.25rem;
                cursor: pointer;
                transition: background 0.3s ease-in-out;

                span {
                    text-transform: uppercase;
                    color: #fff;
                    transition: color 0.3s ease-in-out;
                }

                &:hover {
                    background: #fff;

                    span {
                        color: $blue;
                    }
                }
            }

            .success, .error {
                margin-top: 3rem;
                width: 100%;
                border: 1px solid transparent;
                padding: .75rem 1.25rem;
                box-sizing: border-box;
                display: none;
            }

            .success {
                color: #155724;
                background: #d4edda;
                border-color: #c3e6cb;
            }

            .error {
                color: #721c24;
                background: #f8d7da;
                border-color: #f5c6cb;

                &.required {
                    p {
                        margin-bottom: 1rem;
                    }

                    ul {
                        list-style: inside;
                    }
                }
            }
        }
    }

    #contact {
        .container {
            @include container();
            @include col;
            gap: 5rem;
        }

        .contact {
            h2 {
                margin-bottom: 1rem;
            }

            div {
                @include col;
                gap: 0.5rem;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: 500;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    font-weight: 500;

                    &:last-of-type {
                        font-weight: 300;
                    }
                }
            }
        }

        .follow-us {
            h2 {
                margin-bottom: 1rem;
            }

            .wrapper {
                @include row;
                gap: 1rem;
                margin-top: 1rem;

                a {
                    display: flex;
                    width: 3rem;
                    height: 3rem;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }
            }

            >div {
                margin-bottom: 2rem;
            }

            > figure {
                width: 100%;
                justify-content: center;

                img {
                    width: 10rem;
                    height: auto;
                }
            }
        }
    }

    @media screen and (min-width: $laptop) {
        padding-top: 10rem;
        padding-bottom: 5rem;

        #form {
            padding-bottom: 10rem;

            h2 {
                margin-bottom: 10rem;
            }

            form {
                @include row;
                flex-wrap: wrap;
                justify-content: space-between;

                > div {
                    margin-bottom: 0;

                    &:nth-child(1), &:nth-child(2) {
                        width: 40%;
                    }

                    &.msg {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }

                label {
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                }

                button {
                    font-size: 1.25rem;
                    letter-spacing: 0.25rem;
                }
            }
        }

        #contact {
            .container {
                @include row;
                gap: initial;
                justify-content: space-between;
            }

            .contact {
                h2 {
                    margin-bottom: 2rem;
                }
    
                div {
                    a {
                        font-size: 1.25rem;
                    }
    
                    p {
                        font-size: 1.25rem;
                    }
                }
            }
    
            .follow-us {
                h2 {
                    margin-bottom: 2rem;
                }

                >div {
                    margin-bottom: 5rem;

                    p {
                        font-size: 1.25rem;
                        font-weight: 500;
                        margin-bottom: 2rem;
                    }
                }
    
                .wrapper {
                    gap: 2rem;
                    margin-top: 0;
    
                    a {
                        width: 4rem;
                        height: 4rem;
                        transition: transform 0.3s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

    
                > figure {
                    img {
                        width: 15rem;
                    }
                }
            }
        }
    }
}