@use './variables' as *;

@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin w-h-100 {
    width: 100%;
    height: 100%;
}

@mixin col {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin no-btn-styles {
    border: none;
    background-color: transparent;
    padding: 0;
}

@mixin btn-hover {
    transition: all 0.5s, transform 0.8s;
}

@mixin container($max-width: 1100px, $padding-horizontal: 1.5rem) { 
    margin-left: auto;
    margin-right: auto;
    padding: 0 $padding-horizontal;
    max-width: $max-width;
}

@mixin uvozovky($top: initial, $bottom: initial, $left: initial, $right: initial, $rotate: rotate(0)) {
    content: url('/assets/imgs/icons/uvozovky.webp');
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    width: 4rem;
    height: 3rem;
    display: flex;
    transform: $rotate;

    @media screen and (min-width: $laptop) {
        width: 8rem;
        height: 6rem;
    }
}