<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.cdnfonts.com/css/claris-sans" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/caviar-dreams" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('css/styles.css')}}">
        <title>
            Specializujeme se na pokládku podlah nejrůznějších materiálů - HF podlahy
        </title>
    </head>
    <body>
        <div id="app">
            <nav>
                <ul class="nav-content">
                    <li><a href="#how-it-works">nabídka</a></li>
                    <li><a href="#gallery">realizace</a></li>
                    <li><a href="#contact">kontakt</a></li>
                    <li><a href="#form">poptejte nás</a></li>
                </ul>

                <div>
                    <figure class="open">
                        <img src="./assets/imgs/icons/hamburger.svg" alt="">
                    </figure>

                    <figure class="close">
                        <img src="./assets/imgs/icons/close.svg" alt="">
                    </figure>
                </div>
            </nav>

            <main>
                <section id="intro">
                    <div class="container">
                        <h1>Specializujeme se na pokládku podlah nejrůznějších materiálů, ze kterých si vybere každý, i ten nejnáročnější zákazník.</h1>
    
                        <p><strong>Ať už zvolíte jakoukoliv podlahovou krytinu, můžete si být jisti spojením elegance a optimálních vlastností.</strong></p>
                        <p>Abychom vyšli vstříc přáním a potřebám našich zákazníků, zaměřujeme se na širokou nabídku materiálů. 
                            Chcete-li do Vašeho domova, kanceláře nebo na chatu novou <strong>dřevěnou podlahu, vinyl, plovoucí vinyl, PVC podlahu, linoleum, laminát či koberec,</strong> jste tu správně. Do nabídky můžeme zahrnout i renovaci parket.</p>
                    </div>
                </section>

                <section id="how-it-works">
                    <div class="container">
                        <h2><span>Jak</span> to u nás probíhá ?</h2>
    
                        <div class="how-it-works__wrapper">
                            <div>
                                <figure>
                                    <img src="./assets/imgs/icons/1.svg" alt="">
                                </figure>
                                <p><span>1.</span>zaměříme místnosti</p>
                            </div>
        
                            <div>
                                <figure>
                                    <img src="./assets/imgs/icons/2.svg" alt="">
                                </figure>
                                <p><span>2.</span>vyrovnáme podklad</p>
                            </div>
        
                            <div>
                                <figure>
                                    <img src="./assets/imgs/icons/3.svg" alt="">
                                </figure>
                                <p><span>3.</span>upravíme povrch</p>
                            </div>
        
                            <div>
                                <figure>
                                    <img src="./assets/imgs/icons/4.svg" alt="">
                                </figure>
                                <p><span>4.</span>nakoupíme materiál</p>
                            </div>
        
                            <div>
                                <figure>
                                    <img src="./assets/imgs/icons/5.svg" alt="">
                                </figure>
                                <p><span>5.</span>dopravíme vše na stavbu</p>
                            </div>
        
                            <div>
                                <figure>
                                    <img src="./assets/imgs/icons/6.svg" alt="">
                                </figure>
                                <p><span>6.</span>podlahu položíme</p>
                            </div>
        
                            <div>
                                <figure>
                                    <img src="./assets/imgs/icons/7.svg" alt="">
                                </figure>
                                <p><span>7.</span>olištujeme, osoklujeme</p>
                            </div>
        
                            <div>
                                <figure>
                                    <img src="./assets/imgs/icons/8.svg" alt="">
                                </figure>
                                <p><span>8.</span>povrch ošetříme</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="gallery">
                    <div class="container">
                        <div class="content">
                            <p>S cílem nabídnout tu nejvyšší kvalitu našich služeb a konečného výsledku, se zaměřujeme na individuální přístup, protože si uvědomujeme jedinečnost každého  našeho zákazníka. 
                                Rádi vám proto profesionálně zrealizujeme Váš vlastní nápad.</p>
    
                            <!-- <figure>
                                <img src="./assets/imgs/icons/prkna.webp" alt="">
                            </figure> -->
                        </div>
                        
                        <div class="slider">
                            <slider></slider>
                        </div>
                    </div>
                </section>
            </main>

            <footer>
                <section id="form">
                    <div class="container">
                        <h2>Máte zájem o pokládku od HF podlahy ? Nechte nám tu na Vás kontakt a my se Vám ozveme:</h2>
                        <contact-form></contact-form>
                    </div>
                </section>

                <section id="contact">
                    <div class="container">
                        <div class="contact">
                            <h2>Kontakt:</h2>
                            
                            <div>
                                <p>Jan Fedorka</p>
                                <a href="mailto:info@hfpodlahy.cz">info@hfpodlahy.cz</a>
                                <a href="tel:+420778701292">778 701 292</a>
                                <p>IČO: 21286507</p>
                            </div>
                        </div>
                        <div class="follow-us">
                            <h2>Sledujte nás:</h2>
    
                            <div>   
                                <p>Na faceboku a instagramu:</p>
    
                                <div class="wrapper">
                                    <figure>
                                        <img src="./assets/imgs/icons/fb.svg" alt="">
                                    </figure>
                                    <figure>
                                        <img src="./assets/imgs/icons/instagram.svg" alt="">
                                    </figure>
                                </div>
                            </div>
    
                            <figure>
                                <img src="./assets/imgs/icons/logo.webp" alt="">
                            </figure>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
    </body>
</html>
<!-- WAITING FOR ASSETS -->
<script src="{{ asset('js/app.js') }}"></script>
