<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.cdnfonts.com/css/claris-sans" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/caviar-dreams" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('css/styles.css')}}">
        <title>
            Document
        </title>
    </head>
    <body>
        <div id="app">
            <nav>
                <ul>
                    <li>nabídka</li>
                    <li>realizace</li>
                    <li>kontakt</li>
                    <li>poptejte nás</li>
                </ul>

                <div>
                    <figure class="open">
                        <img src="./assets/imgs/icons/close.svg" alt="">
                    </figure>

                    <figure class="close">
                        <img src="" alt="">
                    </figure>
                </div>
                
            </nav>

            <main>
                <section id="intro">
                    <h1>Specializujeme se na pokládku podlah nejrůznějších materiálů, ze kterých si vybere každý, i ten nejnáročnější zákazník.</h1>

                    <p>Ať už zvolíte jakoukoliv podlahovou krytinu, můžete si být jisti spojením elegance a optimálních vlastností.</p>
                    <p>Abychom vyšli vstříc přáním a potřebám našich zákazníků, zaměřujeme se na širokou nabídku materiálů. 
                        Chcete-li do Vašeho domova, kanceláře nebo na chatu novou <span>dřevěnou podlahu, vinyl, plovoucí vinyl, PVC podlahu, linoleum, laminát či koberec,</span> jste tu správně. Do nabídky můžeme zahrnout i renovaci parket.</p>
                </section>

                <section id="how-it-works">
                    <h2><span>Jak</span> to u nás probíhá ?</h2>

                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>1. zaměříme místnosti</p>
                    </div>

                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>2. vyrovnáme podklad</p>
                    </div>

                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>3. upravíme povrch</p>
                    </div>

                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>4. nakoupíme materiál</p>
                    </div>

                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>5. dopravíme vše na stavbu</p>
                    </div>

                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>6. podlahu položíme</p>
                    </div>

                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>7. olištujeme, osoklujeme</p>
                    </div>

                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>8. povrch ošetříme</p>
                    </div>
                </section>

                <section id="gallery">
                    <div>
                        <p>S cílem nabídnout tu nejvyšší kvalitu našich služeb a konečného výsledku, se zaměřujeme na individuální přístup, protože si uvědomujeme jedinečnost každého  našeho zákazníka. 
                            Rádi vám proto profesionálně zrealizujeme Váš vlastní nápad.</p>

                        <figure>
                            <img src="" alt="">
                        </figure>
                    </div>
                    
                    <div>
                        <slider></slider>
                    </div>
                </section>
            </main>

            <footer>
                <section id="form">
                    <h2>Máte zájem o pokládku od HF podlahy ? Nechte nám tu na Vás kontakt a my se Vám ozveme:</h2>
                    <contact-form></contact-form>
                </section>

                <section id="contact">
                    <div>
                        <h3>Kontakt:</h3>
                        
                        <div>
                            <p>Jan Fedorka</p>
                            <a href="mailto:info@hfpodlahy.cz">info@hfpodlahy.cz</a>
                            <a href="tel:+420778701292">778 701 292</a>
                            <p>IČO: 21286507</p>
                        </div>
                    </div>

                    <div>
                        <h3>Sledujte nás:</h3>

                        <div>   
                            <p>Na faceboku a instagramu:</p>

                            <figure>
                                <img src="" alt="">
                            </figure>
                            <figure>
                                <img src="" alt="">
                            </figure>
                        </div>

                        <figure>
                            <img src="" alt="">
                        </figure>
                    </div>
                </section>
            </footer>
        </div>
    </body>
</html>
<!-- WAITING FOR ASSETS -->
<script src="{{ asset('js/app.js') }}"></script>
