<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- WAITING FOR ASSETS -->
        <!-- <link rel="stylesheet" href="{{asset('css/styles.css')}}"> -->
        <title>
            Document
        </title>
    </head>
    <body>
        <div id="app">
            <nav>
                {% include 'partials/language_switcher.twig' %}
            </nav>

            <main>
                {% trans %}hello_world{% endtrans %}
                <div>
                    <test></test>
                </div>
            </main>

            <footer></footer>
        </div>
    </body>
</html>
<!-- WAITING FOR ASSETS -->
<script src="{{ asset('js/app.js') }}"></script>
